Proyecto N8N.json
{
  "name": "Proyecto N8N",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1168,
        560
      ],
      "id": "339e4049-f7a0-4c81-b0a8-cdbe06a4103d",
      "name": "Telegram Trigger",
      "webhookId": "cdbb4126-09c8-4a89-9788-64dbd9c23f53",
      "credentials": {
        "telegramApi": {
          "id": "SOQk6pt0wRUm8FWx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1097479593,
          "mode": "list",
          "cachedResultName": "USUARIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit#gid=1097479593"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $json.message.chat.id }}",
            "nombre": "={{ $json.message.chat.first_name }}",
            "rol": "admin"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rol",
              "displayName": "rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "activo",
              "displayName": "activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -960,
        560
      ],
      "id": "b4a73d3e-737c-415c-9e43-05ca63f3972e",
      "name": "Guarda el usuario",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KMW8Q29aWDXK9oPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1097479593,
          "mode": "list",
          "cachedResultName": "USUARIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit#gid=1097479593"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -752,
        560
      ],
      "id": "9b7501bb-8a91-4402-9fb6-25a90958370b",
      "name": "obtiene usuario",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KMW8Q29aWDXK9oPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "53ebb6e0-716b-4e0e-b271-c00b53715d76",
              "leftValue": "={{ $json.activo }}",
              "rightValue": false,
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -544,
        560
      ],
      "id": "7d48c2b0-4758-47f2-a5f1-1c603a1f81e9",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1097479593,
          "mode": "list",
          "cachedResultName": "USUARIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit#gid=1097479593"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "nombre": "={{ $('Telegram Trigger').item.json.message.chat.first_name }}",
            "rol": "admin",
            "activo": "false"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rol",
              "displayName": "rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "activo",
              "displayName": "activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -336,
        464
      ],
      "id": "1d67cc98-b431-48f0-9dcf-1ccb3af15b23",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KMW8Q29aWDXK9oPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "b1ce27cf-71ae-463e-bdef-8a82d72846f2",
              "leftValue": "={{ $json.activo }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -144,
        576
      ],
      "id": "4a428210-5f8c-4a9b-aa20-dd1175dd5cab",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1097479593,
          "mode": "list",
          "cachedResultName": "USUARIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit#gid=1097479593"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "nombre": "={{ $('Telegram Trigger').item.json.message.chat.first_name }}",
            "rol": "admin",
            "activo": "true"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rol",
              "displayName": "rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "activo",
              "displayName": "activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        16,
        -1088
      ],
      "id": "e94577ae-ef26-4f90-831a-cd1ffa6e15eb",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KMW8Q29aWDXK9oPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1108957374,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit#gid=1108957374"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "timestamp": "={{$now.format('yyyy-MM-dd HH:mm:ss')}}",
            "pantalla": "menu"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        -1088
      ],
      "id": "4af05899-46ae-4a5e-99d2-9b662ae4e4fa",
      "name": "Append or update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KMW8Q29aWDXK9oPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Hola {{ $('Telegram Trigger').item.json.message.chat.first_name }}, soy HelpDeskBot 👋  \nEstoy aquí para ayudarte con solicitudes de soporte de forma rápida y ordenada.  Por favor escribe el número de la opción que quieras usar.  \nMenú principal: \n0. Ayuda \n1. Crear solicitud \n2. Consultar estado de solicitud \n3. Mis solicitudes \n4. Reportes \n5. Configuración",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        432,
        -1088
      ],
      "id": "b08f0dc2-a3ba-4074-8ef4-8d8904a84f70",
      "name": "Send a text message",
      "webhookId": "2e08b7b5-ae33-43e8-883a-e6b9fe8c1d19",
      "credentials": {
        "telegramApi": {
          "id": "SOQk6pt0wRUm8FWx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1108957374,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit#gid=1108957374"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        64,
        672
      ],
      "id": "faaf1304-3fe3-45eb-89bf-e386fbafb982",
      "name": "logs Menu",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KMW8Q29aWDXK9oPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.pantalla }}",
                    "rightValue": "menu",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "db1f1968-a59f-42c4-aa92-30ebacd196f3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Menu"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8ac22799-1ef2-4812-a0e5-6a9173a950af",
                    "leftValue": "={{ $json.pantalla }}",
                    "rightValue": "Crearsolicitud",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Crear"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "16adcf80-c080-41cf-8238-ee9bb2f3a360",
                    "leftValue": "={{ $json.pantalla }}",
                    "rightValue": "Consultarestado",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Consultar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "64755b84-ca89-4b58-bdcb-0ad0bf8852eb",
                    "leftValue": "={{ $json.pantalla }}",
                    "rightValue": "Missolicitudes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Solicitudes"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cb400a17-dad0-4f82-9190-9c0f0e677bcb",
                    "leftValue": "={{ $json.pantalla }}",
                    "rightValue": "Reporte",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reporte"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3054a168-664a-4bfb-a7f6-63f77f17bb58",
                    "leftValue": "={{ $json.pantalla }}",
                    "rightValue": "Configuracion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Configuracion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2ee20d93-b19b-45eb-9363-06b1437f423d",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Default"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        272,
        672
      ],
      "id": "b364d452-bd32-471c-a9c3-2ba230250768",
      "name": "Switch"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "0",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "36b82e57-ae19-4882-8f9b-1fcc15829c32"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ayuda"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8153e8d2-d872-42f0-a8f6-7f594dc26dc5",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Crear Solicitud"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7bdae441-14da-49d3-915b-767ebbafcfe6",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Consultar estado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ca57de86-ce1a-4124-a595-59c1061c0d84",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mis solicitudes"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bbdd6038-2944-4e14-a6fd-17e6a32de84a",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "4",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reportes"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "36030207-29b9-43e2-a485-3a231dbabba1",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "5",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Configuracion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b9f39464-959e-4f6e-8848-7ed83bdc98d4",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Default"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        480,
        -224
      ],
      "id": "77e57e4a-9c7e-41c2-8be3-b5bc6fa9a3bb",
      "name": "Switch1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=hola 👋 {{ $('Telegram Trigger').item.json.message.chat.first_name }} gracias por comunicarte con soporte. estamos aquí para ayudarte. por favor cuéntanos qué problema presentas o qué necesitas, y te responderemos lo antes posible.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        768,
        -784
      ],
      "id": "e1cd81ac-ab8e-4ef2-943a-4ebe05f2bfa3",
      "name": "Send a text message1",
      "webhookId": "837b6ce3-a625-482f-9d5b-acff9b532330",
      "credentials": {
        "telegramApi": {
          "id": "SOQk6pt0wRUm8FWx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Hola {{ $('Telegram Trigger').item.json.message.chat.first_name }}, \nsoy HelpDeskBot 👋   Estoy aquí para ayudarte con solicitudes de soporte de forma rápida y ordenada.  Por favor escribe el número de la opción que quieras usar.   \nMenú principal:  \n0. Ayuda  \n1. Crear solicitud  \n2. Consultar estado de solicitud  \n3. Mis solicitudes  \n4. Reportes  \n5. Configuración",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1232,
        -816
      ],
      "id": "c76d80b6-e3db-4584-84b5-dfa252a6fd43",
      "name": "Send a text message2",
      "webhookId": "08f7dcde-d215-4c09-9d34-ea245ae0a3e6",
      "credentials": {
        "telegramApi": {
          "id": "SOQk6pt0wRUm8FWx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1108957374,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit#gid=1108957374"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "timestamp": "={{$now.format('yyyy-MM-dd HH:mm:ss')}}",
            "pantalla": "menu",
            "opcion": "=",
            "resultado": "="
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1456,
        -816
      ],
      "id": "0e5fb2bc-d541-4662-8496-f431acc2334c",
      "name": "Append or update row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KMW8Q29aWDXK9oPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1108957374,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit#gid=1108957374"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "timestamp": "={{$now.format('yyyy-MM-dd HH:mm:ss')}}",
            "pantalla": "Crearsolicitud",
            "opcion": "=",
            "resultado": "="
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        -624
      ],
      "id": "ec7e9f67-3722-44c8-9773-3ac0bc1062b7",
      "name": "Append or update row in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KMW8Q29aWDXK9oPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Vamos a crear una solicitud, para lo cual se necesitará de escoger su tipo.  \nSelecciona el tipo: \n1. Soporte técnico \n2. Solicitud administrativa \n3. Consulta general \n9. Cancelar",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        976,
        -624
      ],
      "id": "a62eea86-925c-43d2-a765-abc6b8e961cc",
      "name": "Send a text message3",
      "webhookId": "1bc6a3e1-525b-4ee2-a1b8-1245d06762e4",
      "credentials": {
        "telegramApi": {
          "id": "SOQk6pt0wRUm8FWx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "^[1-2-3]$",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    },
                    "id": "f1875ddf-348f-4593-b7ae-febe9c098cc0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tipo solicitud"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5a36dc87-4f85-4ba3-a3ae-4a431c22a91b",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Descripcion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0aa99a0d-164d-46bb-809e-d86992ecfe06",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Default"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        848,
        288
      ],
      "id": "7e59e50b-641e-4b73-a006-1762b20c619f",
      "name": "Switch2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Hola {{ $('Telegram Trigger').item.json.message.chat.first_name }}, soy HelpDeskBot 👋  \nEstoy aquí para ayudarte con solicitudes de soporte de forma rápida y ordenada.  Por favor escribe el número de la opción que quieras usar.  \nMenú principal: \n0. Ayuda \n1. Crear solicitud \n2. Consultar estado de solicitud \n3. Mis solicitudes \n4. Reportes \n5. Configuración",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        432,
        1248
      ],
      "id": "26fd242b-6322-4bf7-9e9c-fd20a2a5a000",
      "name": "Send a text message5",
      "webhookId": "2e08b7b5-ae33-43e8-883a-e6b9fe8c1d19",
      "credentials": {
        "telegramApi": {
          "id": "SOQk6pt0wRUm8FWx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Hola {{ $('Telegram Trigger').item.json.message.chat.first_name }}, soy HelpDeskBot 👋  \nEstoy aquí para ayudarte con solicitudes de soporte de forma rápida y ordenada.  Por favor escribe el número de la opción que quieras usar.  \nMenú principal: \n0. Ayuda \n1. Crear solicitud \n2. Consultar estado de solicitud \n3. Mis solicitudes \n4. Reportes \n5. Configuración",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        128
      ],
      "id": "182cc47c-1815-4297-9087-dbf78d419c99",
      "name": "Send a text message6",
      "webhookId": "2e08b7b5-ae33-43e8-883a-e6b9fe8c1d19",
      "credentials": {
        "telegramApi": {
          "id": "SOQk6pt0wRUm8FWx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1108957374,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit#gid=1108957374"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "timestamp": "={{$now.format('yyyy-MM-dd HH:mm:ss')}}",
            "pantalla": "Consultarestado",
            "opcion": "=",
            "resultado": "="
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        -448
      ],
      "id": "f2ce916f-9cec-4eee-ba56-a43e023471d8",
      "name": "Append or update row in sheet6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KMW8Q29aWDXK9oPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1108957374,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit#gid=1108957374"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "timestamp": "={{$now.format('yyyy-MM-dd HH:mm:ss')}}",
            "pantalla": "Missolicitudes"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        -320
      ],
      "id": "39e6f9a1-5f12-450b-897a-e62cad90bab2",
      "name": "Append or update row in sheet7",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KMW8Q29aWDXK9oPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1108957374,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit#gid=1108957374"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "timestamp": "={{$now.format('yyyy-MM-dd HH:mm:ss')}}",
            "pantalla": "Reporte"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        -160
      ],
      "id": "a1a0c39b-fee5-4733-8bc6-92f5754fbd80",
      "name": "Append or update row in sheet8",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KMW8Q29aWDXK9oPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1108957374,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit#gid=1108957374"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "timestamp": "={{$now.format('yyyy-MM-dd HH:mm:ss')}}",
            "pantalla": "Configuracion"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        -48
      ],
      "id": "c0fac555-7c92-429e-9b2a-5186f77f8754",
      "name": "Append or update row in sheet9",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KMW8Q29aWDXK9oPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=SELECCIONE CON NUMEROS QUE DESEA:\n1. Cotinuar\n2. Volver",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1216,
        -224
      ],
      "id": "12617d3c-a9d8-4701-bfb6-22f60757b984",
      "name": "Send a text message4",
      "webhookId": "38ab1f2a-1ca9-4e5e-8fe2-1d06c29e07a3",
      "credentials": {
        "telegramApi": {
          "id": "SOQk6pt0wRUm8FWx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.25
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1040,
        -224
      ],
      "id": "ec77775d-6c34-4022-a26a-f77883ed9853",
      "name": "Wait",
      "webhookId": "f849a8da-8acb-4966-8e5e-f05a45a0ae1e"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1108957374,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit#gid=1108957374"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_user",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1184,
        0
      ],
      "id": "4b1b00af-9e9f-4c8d-a27a-baa377ad0a14",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KMW8Q29aWDXK9oPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0119273a-92a3-4b57-a056-4fe8d68c3091",
              "leftValue": "={{ $json.resultado }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1408,
        48
      ],
      "id": "900337e1-56f8-42b1-8a15-59490ca51b9e",
      "name": "If2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "26d988b9-085f-4edf-be9a-e13bc7cf2c0d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Soporte"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "97c1c20f-7da8-4e34-b32b-404966956aec",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Administrativa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3a16186e-fd4b-479e-8691-003020eda317",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "General"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1f613ea2-1454-41a6-b84d-e237ec8460aa",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancelar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1616,
        -48
      ],
      "id": "3ddd1ab6-684d-4ab8-967c-cff2f986f722",
      "name": "Switch3"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "SOLICITUDES ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_ticket": "={{ $execution.id }}",
            "tipo": "Soporte tecnico"
          },
          "matchingColumns": [
            "id_ticket"
          ],
          "schema": [
            {
              "id": "id_ticket",
              "displayName": "id_ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "creado_por",
              "displayName": "creado_por",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1872,
        -384
      ],
      "id": "78f2f87f-e911-4f85-baf8-1c157aee4947",
      "name": "Append or update row in sheet10",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KMW8Q29aWDXK9oPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "SOLICITUDES ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_ticket": "={{ $execution.id }}",
            "tipo": "Solicitud administrativa"
          },
          "matchingColumns": [
            "id_ticket"
          ],
          "schema": [
            {
              "id": "id_ticket",
              "displayName": "id_ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "creado_por",
              "displayName": "creado_por",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1872,
        -208
      ],
      "id": "976003e1-72ad-478e-aacf-839deacb8512",
      "name": "Append or update row in sheet11",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KMW8Q29aWDXK9oPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "SOLICITUDES ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_ticket": "={{ $execution.id }}",
            "tipo": "Consulta general"
          },
          "matchingColumns": [
            "id_ticket"
          ],
          "schema": [
            {
              "id": "id_ticket",
              "displayName": "id_ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "creado_por",
              "displayName": "creado_por",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1904,
        -48
      ],
      "id": "e76849e2-b520-4b85-ae12-44d07c767893",
      "name": "Append or update row in sheet12",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KMW8Q29aWDXK9oPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1108957374,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit#gid=1108957374"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "timestamp": "={{$now.format('yyyy-MM-dd HH:mm:ss')}}",
            "opcion": "={{ $('Telegram Trigger').item.json.message.text }}",
            "pantalla": "={{ $('Get row(s) in sheet').item.json.pantalla }}",
            "resultado": "Asignarprioridad"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2224,
        -256
      ],
      "id": "1f7fef22-ede7-4413-95f0-c8faa78e2402",
      "name": "Append or update row in sheet13",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KMW8Q29aWDXK9oPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Ingresa el tipo de prioridad en opcion numerica\n1. Alta\n2. Media\n3. Baja",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2432,
        -256
      ],
      "id": "99df8a2e-2c3a-4154-9072-144465035ad4",
      "name": "Send a text message7",
      "webhookId": "3d770291-6e2e-412f-8643-11a5f4331520",
      "credentials": {
        "telegramApi": {
          "id": "SOQk6pt0wRUm8FWx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "SOLICITUDES ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1536,
        192
      ],
      "id": "9e56cc98-28e7-4817-bf29-99fcbd49709b",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KMW8Q29aWDXK9oPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Get row(s) in sheet').item.json.resultado }}",
                    "rightValue": "Asignarprioridad",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "855faccb-7f48-4b96-9ccc-e20b77a2cb53"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Prioridad"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ed97c840-fd43-4081-ba7c-b61b704710c9",
                    "leftValue": "={{ $('Get row(s) in sheet').item.json.resultado }}",
                    "rightValue": "Asignardescripcion",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Descripcion"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1792,
        224
      ],
      "id": "74e950b9-7e5f-440a-84bd-2d53494053c2",
      "name": "Switch4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7549b1cb-8c33-4c8a-b090-00cf720ae2a1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Alta"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ed686ed5-64b6-4a6b-8946-6931a074583e",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Media"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "95ddec2e-2574-4070-969c-59cbe121b56b",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Baja"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2128,
        80
      ],
      "id": "6cdfffab-2a6a-471d-b243-ca0c237bddc3",
      "name": "Switch5"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "SOLICITUDES ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_ticket": "={{ $('Get row(s) in sheet1').item.json.id_ticket }}",
            "tipo": "={{ $('Get row(s) in sheet1').item.json.tipo }}",
            "prioridad": "Alta"
          },
          "matchingColumns": [
            "id_ticket"
          ],
          "schema": [
            {
              "id": "id_ticket",
              "displayName": "id_ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "creado_por",
              "displayName": "creado_por",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2352,
        -48
      ],
      "id": "77b42993-0ef0-4d78-99ad-b49559550076",
      "name": "Append or update row in sheet14",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KMW8Q29aWDXK9oPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "SOLICITUDES ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_ticket": "={{ $('Get row(s) in sheet1').item.json.id_ticket }}",
            "tipo": "={{ $('Get row(s) in sheet1').item.json.tipo }}",
            "prioridad": "Media"
          },
          "matchingColumns": [
            "id_ticket"
          ],
          "schema": [
            {
              "id": "id_ticket",
              "displayName": "id_ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "creado_por",
              "displayName": "creado_por",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2352,
        80
      ],
      "id": "a957795e-dc4c-4dff-9bf2-23253b8641b1",
      "name": "Append or update row in sheet15",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KMW8Q29aWDXK9oPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "SOLICITUDES ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_ticket": "={{ $('Get row(s) in sheet1').item.json.id_ticket }}",
            "tipo": "={{ $('Get row(s) in sheet1').item.json.tipo }}",
            "prioridad": "Baja"
          },
          "matchingColumns": [
            "id_ticket"
          ],
          "schema": [
            {
              "id": "id_ticket",
              "displayName": "id_ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "creado_por",
              "displayName": "creado_por",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2352,
        192
      ],
      "id": "a675c22c-dd1d-4fc4-98ce-d84db680c2e5",
      "name": "Append or update row in sheet16",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KMW8Q29aWDXK9oPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1108957374,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit#gid=1108957374"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "timestamp": "={{$now.format('yyyy-MM-dd HH:mm:ss')}}",
            "pantalla": "={{ $('Get row(s) in sheet').item.json.pantalla }}",
            "opcion": "={{ $('Telegram Trigger').item.json.message.text }}",
            "resultado": "Asignardescripcion"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2608,
        80
      ],
      "id": "8ea46837-4b84-4d68-91d4-67cd983209b3",
      "name": "Append or update row in sheet17",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KMW8Q29aWDXK9oPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Ingresar descripcion:",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2912,
        80
      ],
      "id": "cc59afd7-ebb5-4a4a-a2d6-5726322147db",
      "name": "Send a text message8",
      "webhookId": "7e47ef71-294c-486c-8025-a8e8af189acd",
      "credentials": {
        "telegramApi": {
          "id": "SOQk6pt0wRUm8FWx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "SOLICITUDES ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_ticket": "={{ $('Get row(s) in sheet1').item.json.id_ticket }}",
            "descripcion": "={{ $('Telegram Trigger').item.json.message.text }}",
            "estado": "Pendiente",
            "creado_por": "={{ $('Telegram Trigger').item.json.message.chat.first_name }}",
            "fecha_creacion": "={{$now.format('yyyy-MM-dd HH:mm:ss')}}"
          },
          "matchingColumns": [
            "id_ticket"
          ],
          "schema": [
            {
              "id": "id_ticket",
              "displayName": "id_ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "creado_por",
              "displayName": "creado_por",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2048,
        304
      ],
      "id": "7291569c-ae34-4136-9c20-892a38e01186",
      "name": "Append or update row in sheet18",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KMW8Q29aWDXK9oPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1108957374,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit#gid=1108957374"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "timestamp": "={{$now.format('yyyy-MM-dd HH:mm:ss')}}",
            "resultado": "Creado",
            "pantalla": "=menu"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2256,
        304
      ],
      "id": "7f926a6b-fbf1-451d-8171-115ff911ccd7",
      "name": "Append or update row in sheet19",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KMW8Q29aWDXK9oPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "creado con exito!!!!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2464,
        304
      ],
      "id": "7c45b5cd-c0b4-4cb0-8c9c-a9ade50980d0",
      "name": "Send a text message9",
      "webhookId": "4d676c3c-67e6-4116-9bd5-5099edba280b",
      "credentials": {
        "telegramApi": {
          "id": "SOQk6pt0wRUm8FWx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "31f5595d-1d93-41ac-83d9-6746110d3469",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        528
      ],
      "id": "441243c6-dcdc-440d-82a5-a94b2575c727",
      "name": "If3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "SOLICITUDES ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        720,
        560
      ],
      "id": "ba6625e7-c434-4fed-adc9-f0596244a283",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KMW8Q29aWDXK9oPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Solicitud: {{ $('Get row(s) in sheet2').item.json.tipo }}\nEstado:  {{ $('Get row(s) in sheet2').item.json.estado }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1216,
        464
      ],
      "id": "f20a48ef-1cd0-4094-b604-69f639b8f082",
      "name": "Send a text message10",
      "webhookId": "92683ebd-78b3-4a8a-8d8c-0b4e189da559",
      "credentials": {
        "telegramApi": {
          "id": "SOQk6pt0wRUm8FWx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "SOLICITUDES ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        736,
        720
      ],
      "id": "48dd41a5-5441-4374-873d-46d44d1dad93",
      "name": "Get row(s) in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KMW8Q29aWDXK9oPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "31f5595d-1d93-41ac-83d9-6746110d3469",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        992,
        688
      ],
      "id": "cdb68f4f-fac8-4b51-a8ce-621bd69a9457",
      "name": "If4"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=ID: {{ $('Get row(s) in sheet3').item.json.id_ticket }}\nSolicitud: {{ $('Get row(s) in sheet3').item.json.tipo }}\nEstado:  {{ $('Get row(s) in sheet3').item.json.estado }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1216,
        672
      ],
      "id": "f76669eb-096f-41c6-b3aa-c94c272722cd",
      "name": "Send a text message11",
      "webhookId": "92683ebd-78b3-4a8a-8d8c-0b4e189da559",
      "credentials": {
        "telegramApi": {
          "id": "SOQk6pt0wRUm8FWx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "SOLICITUDES ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        880
      ],
      "id": "4d84ca87-aec3-4aca-8083-8ce3b026188a",
      "name": "Get row(s) in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KMW8Q29aWDXK9oPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "SOLICITUDES ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Lx0LgndqNlS7QevXhDsdz_LDDKtJP2oTKkIzEhc4iY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        1040
      ],
      "id": "96fd91b9-885e-4131-a61d-29c4f2f504b7",
      "name": "Get row(s) in sheet5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KMW8Q29aWDXK9oPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "31f5595d-1d93-41ac-83d9-6746110d3469",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        976,
        896
      ],
      "id": "4fb99105-e369-4f28-a1fb-d36e67f954eb",
      "name": "If5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "31f5595d-1d93-41ac-83d9-6746110d3469",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1040,
        1040
      ],
      "id": "a9ab6d3e-d884-4600-b1a7-d8edd14fe861",
      "name": "If6"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Reporte Ultimo Movimiento:\n##########################\nID: {{ $('Get row(s) in sheet4').item.json.id_ticket }}\nTipo: {{ $('Get row(s) in sheet4').item.json.tipo }}\nPrioridad: {{ $('Get row(s) in sheet4').item.json.prioridad }}\nDescripcion: {{ $('Get row(s) in sheet4').item.json.descripcion }}\nEstado: {{ $('Get row(s) in sheet4').item.json.estado }}\nCreado por: {{ $('Get row(s) in sheet4').item.json.creado_por }}\nFecha de creacion: {{ $('Get row(s) in sheet4').item.json.fecha_creacion }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1312,
        800
      ],
      "id": "bb05db58-b32c-45ce-a16c-80234034a622",
      "name": "Send a text message12",
      "webhookId": "e9fceb9d-874d-4012-bd1a-7265e3075e92",
      "credentials": {
        "telegramApi": {
          "id": "SOQk6pt0wRUm8FWx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=aquí puedes personalizar tu experiencia, gestionar tu cuenta, activar notificaciones, cambiar la apariencia, revisar privacidad y ajustar las funciones de la aplicación según tus preferencias.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1312,
        1056
      ],
      "id": "ab55decb-22de-4f86-9a92-f09e666aebfc",
      "name": "Send a text message13",
      "webhookId": "4cea6f42-c77c-4dc8-af6a-8e47fe08a52a",
      "credentials": {
        "telegramApi": {
          "id": "SOQk6pt0wRUm8FWx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1664,
        336
      ],
      "id": "b6c40d63-895e-4263-949f-5524c18b2301",
      "name": "Limit1"
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        784,
        864
      ],
      "id": "e6654edd-7c00-46c4-8168-ee3b97aa3846",
      "name": "Limit2"
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1632,
        688
      ],
      "id": "02d032d7-064b-4010-bbd7-5bdd96ecc3b0",
      "name": "Limit"
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        832,
        1040
      ],
      "id": "cec214a0-099c-4ca6-91ec-49660e77d970",
      "name": "Limit3"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Guarda el usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guarda el usuario": {
      "main": [
        [
          {
            "node": "obtiene usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtiene usuario": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "logs Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet2": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "logs Menu": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet4": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet3": {
      "main": [
        []
      ]
    },
    "Append or update row in sheet6": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet7": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet8": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet9": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message4": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Append or update row in sheet10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet10": {
      "main": [
        [
          {
            "node": "Append or update row in sheet13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet11": {
      "main": [
        [
          {
            "node": "Append or update row in sheet13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet12": {
      "main": [
        [
          {
            "node": "Append or update row in sheet13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet13": {
      "main": [
        [
          {
            "node": "Send a text message7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Switch5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch5": {
      "main": [
        [
          {
            "node": "Append or update row in sheet14",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet15",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet14": {
      "main": [
        [
          {
            "node": "Append or update row in sheet17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet15": {
      "main": [
        [
          {
            "node": "Append or update row in sheet17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet16": {
      "main": [
        [
          {
            "node": "Append or update row in sheet17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet17": {
      "main": [
        [
          {
            "node": "Send a text message8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet18": {
      "main": [
        [
          {
            "node": "Append or update row in sheet19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet19": {
      "main": [
        [
          {
            "node": "Send a text message9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message9": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Send a text message10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet3": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Send a text message11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet4": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Send a text message12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet5": {
      "main": [
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Send a text message13",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "584cee95-8127-4b90-8a0d-66ced03f8d16",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "20116ca0b7a83091982650f879fabe170260c12bb3313b06669a21cdbe1c9132"
  },
  "id": "icRszM9f6fEjbNLZ",
  "tags": []
}